PORT="puerto"
NODE_ENV=development
DATABASE_URL="url de la base de datos postgresql supabase"
FRONTEND_URL="url del frontend"
APIKEY="api de groq"
BASEURL="url de la api de groq --> https://api.groq.com/openai/v1" 
